@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
   
  }

  #header{
    background: url(assets/header_img.png)no-repeat;
    background-size: cover ;

  }


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

